@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 800px){
    .container{
        width: 90%;
    }
}
header{
     height: 100vh;
     width: 100%;
}
   
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    border-bottom: 1px solid rgb(0, 191, 255);
}

nav .container{
    display: flex;
    justify-content: space-between;
    background: rgb(255, 255, 255);
}



nav .container{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    align-items: center;
}

.nav-list{
    display: flex;
    gap: 20px;
}

.nav-list a{
    color: blue;
    font-size: 14px;
    font-weight: 600;
}


.nav-btn{
    background: white;
    color: blue;
    border-radius: 10px;
    padding: 15px 25px;
    border: none;
}

.nav-btn:hover{
    background: blue;
    color: white;
}

.nav-item{
    padding: 15px 0px;
    border-bottom: 3px solid transparent;
}



.hero{
    display: flex;
    align-items: center;
    padding-top: 70px;
    margin-bottom: 200px;
}

.hero-left{
    width: 50%;
    align-items: center;
}

.hero-left-busines{
    color: #0080FD;
font-size: 25px;
font-weight: 400;
 
}

.hero-left-title{
    color: black;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero span{
    color: blue;
}

.hero-left-text{
    color: #000;
    font-size: 16px;
    font-weight: 400;
    width: 60%;
}


.hero-right{
    width: 50%;
    padding-top: 120px;
}


.hero-btns{
    margin-top: 20px;
    align-items: center;
}

.hero-btn1{
    border-radius: 10px;
    width: 20%;
    padding: 15px 10px;
    margin-top: 20px;
    border: none;
}

.hero-btn1:hover{
    background: #0080FD;
    color: white;
}

.hero-btn{
    border: none;
    padding: 15px 10px;
    width: 20%;
    border-radius: 10px;
}

.hero-btn:hover{
    background: #0080FD;
    color: white;
}

@media(max-width: 900px){
  .hero{
  flex-wrap: wrap;
  flex-direction: column;
}
  .hero-left{
  width: 90%;
  order: 2;
  }
  .hero-right{
  width: 90%;
  order: 1;
  }
}
@media(max-width: 600px){
  .hero{
  flex-wrap: wrap;
  flex-direction: column;
}
  .hero-left{
  width: 90%;
  order: 2;
  }
  .hero-right{
  width: 90%;
  order: 1;
  }
}
@media(max-width: 400px){
  .hero{
  flex-wrap: wrap;
  flex-direction: column;
}
  .hero-left{
  width: 90%;
  order: 2;
  }
  .hero-right{
  width: 90%;
  order: 1;
  }
}

.section1{
  justify-content: space-between;
  display: flex;
}

.section-left{
  margin-bottom: 120px;
    width: 45%;
    align-items: center;
    margin-right: 10px;
}

.section-right{
    width: 45%;
    align-items: center;
}

.section-right-comunity{
    color: #0082F4;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.section-right-platform{
    color: #000;
    font-size: 49px;
    font-weight: 700;
    width: 80%;
    margin-bottom: 20px;
}

.section-right-lorem{
    color: #000;
    font-size: 20px;
    font-weight: 400;
    width: 80%;
}

.section-right-btn{
    border-radius: 10px;
    padding: 15px 25px;
    border: none;
    margin-top: 20px;
}

.section-right-btn:hover{
    color: white;
    background: #0080FD;
}

@media(max-width: 900px){
  .section1{
  flex-wrap: wrap;
  flex-direction: column;
}
  .section-left{
  width: 90%;
  order: 1;
  }
  .section-right{
  width: 70%;
  order: 2;
  }
}

@media(max-width: 600px){
  .section1{
  flex-wrap: wrap;
  flex-direction: column;
}
  .section-left{
  width: 90%;
  order: 1;
  }
  .section-right{
  width: 70%;
  order: 2;
  }
}

@media(max-width: 400px){
  .section1{
  flex-wrap: wrap;
  flex-direction: column;
}
  .section-left{
  width: 90%;
  order: 1;
  }
  .section-right{
  width: 70%;
  order: 2;
  }
}

.work{
  margin-top: 200px;
  color: #000;
  font-size: 48.44px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 40px;
}


.section2{
  display: flex;
  text-align: center;
}

.section2-left{
  width: 33%;
}

.section2-center{
  width: 33%;
}

.section2-right{
  width: 33%;
}

.section2-design{
  margin-top: 60px;
  color: #000;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 10px;
}

.section2-lorem{
  color: #000;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}


@media(max-width: 900px){
    .section2{
    flex-wrap: wrap;
}
  .section2-left{
  width: 50%;
  }
  .section2-center{
  width: 50%;
}
.section2-right{
  padding-top: 30px;
  width: 90%;
}
}

@media(max-width: 600px){
  .section2{
  flex-wrap: wrap;
}
.section2-left{
width: 50%;
}
.section2-center{
width: 50%;
}
.section2-right{
padding-top: 30px;
width: 90%;
}
}

@media(max-width: 400px){
  .section2{
  flex-wrap: wrap;
}
.section2-left{
width: 50%;
}
.section2-center{
width: 50%;
}
.section2-right{
padding-top: 30px;
width: 90%;
}
}


.customer{
  margin-top: 200px;
  text-align: center;
  color: #000;
  font-size: 48.44px;
  font-weight: 500;
  padding-bottom: 60px;
}

.home{
  display: flex;
  justify-content: space-between;
}

.home-left{
  height: 250px;
  border-left: 40px solid #0080FD;
  border-radius: 10px;
  align-items: center;
  width: 33%;
}

.home-left-img{
  align-items: center;
}

.home-left-text{
  color: #000;
  font-size: 20px;
  font-weight: 400;
  width: 60%;
  margin-left: 40px;
}

.home-left-leo{
  margin-bottom: 10px;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  margin-left: 40px;
}

.home-lefts-text{
  color: #000;
font-size: 20px;
font-weight: 400;
margin-left: 50px;
}

.home-center{
   width: 33%;
   border-left: 40px solid #0080FD;
   height: 250px;
   border-radius: 10px;
}

.home-center-text{
  color: #000;
  font-size: 20px;
  font-weight: 400;
  width: 60%;
  margin-left: 40px;
}

.home-center-leo{
  margin-bottom: 10px;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  margin-left: 40px;
}

.home-centers-text{
  color: #000;
  font-size: 20px;
  font-weight: 400;
  margin-left: 50px;
}

.home-right{
  width: 33%;
  border-left: 40px solid #0080FD;
  height: 250px;
  border-radius: 10px;
}

.home-right-text{
  color: #000;
  font-size: 20px;
  font-weight: 400;
  width: 60%;
  margin-left: 40px;
}

.home-right-leo{
  margin-bottom: 10px;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  margin-left: 40px;
}

.home-rights-text{
  color: #000;
  font-size: 20px;
  font-weight: 400;
  margin-left: 50px;
}

@media(max-width: 900px){
    .home{
  flex-wrap: wrap;
}
.home-left{
width: 40%;
}
.home-center{
width: 40%;
}
.home-right{
padding-top: 30px;
width: 70%;
}

}

@media(max-width: 600px){
    .home{
flex-wrap: wrap;
}
.home-left{
width: 80%;
}
.home-center{
width: 80%;
}
.home-right{
padding-top: 30px;
width: 80%;
}
}


@media(max-width: 400px){
  .home{
}
.home-left{
width: 90%;
}
.home-center{
width: 90%;
}
.home-right{
width: 90%;
}

}


.section3-title{
  color: #058aff;
  margin-bottom: 10px;
  font-size: 31.25px;
  font-weight: 500;
  text-align: center;
  margin-top: 150px;
}

.section3-text{
  color: #3d3d3d;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.section3-btns{
  text-align: center;
}

.section3-btn{
  padding: 10px 40px;
  color: rgb(107, 96, 96);
  font-size: 15px;
  font-weight: 400;
}

.section3-btnn{
  background: #0082F4;
  color: white;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 1px;
  margin-bottom: 80px;
}

.footer-nav{
  display: flex;
  padding-top: 80px;
  width: 80%;
  justify-content: space-between;
}

footer img{
  width: 50%;
}

.smartt{
  color: rgb(107, 96, 96);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 13px;
}

.smartt-comm{
  color: rgb(107, 96, 96);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.resources{
  color: black;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 13px;
}

.left1-footer{
  color: rgb(107, 96, 96);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 13px;
}

.left2-footer{
  color: rgb(107, 96, 96);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 13px;
}

.left3-footer{
  color: rgb(107, 96, 96);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 13px;
}

.left4-footer{
  color: rgb(107, 96, 96);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 13px;
}

.misson{
  color: black;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 13px;
}

.center1-footer{
  color: rgb(107, 96, 96);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 13px;
}

.center2-footer{
  color: rgb(107, 96, 96);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 13px;
}

.center3-footer{
  color: rgb(107, 96, 96);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 13px;
}

.center4-footer{
  color: rgb(107, 96, 96);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 13px;
}

.contact{
  color: black;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 13px;
}

.right1-footer{
  color: rgb(107, 96, 96);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 13px;
}

.right2-footer{
  color: rgb(107, 96, 96);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 13px;
}

.right3-footer{
  color: rgb(107, 96, 96);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 13px;
}

@media(max-width: 900px){
    .footer-nav{
flex-wrap: wrap;
}
.footer-left{
width: 50%;
}
.footer-center{
width: 50%;
}
.footer-right{
padding-top: 30px;
width: 50%;
}
}

@media(max-width: 600px){
  .footer-nav{
flex-wrap: wrap;
}
.footer-left{
width: 50%;
}
.footer-center{
width: 30%;
}
.footer-right{
padding-top: 30px;
width: 40%;
}
}

@media(max-width: 400px){
  .footer-nav{
flex-wrap: wrap;
}
.footer-left{
width: 40%;
}
.footer-center{
width: 30%;
}
.footer-right{
padding-top: 30px;
width: 40%;
}
}


.footer-org{
  width: 80%;
  height: 10vh;
  background: #0082F4;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  gap: 180px;
}

.linkss{
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.btnnn{
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: white;
  color: #0082F4;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

@media(max-width: 900px){
.footer-org{
  display: none;
  width: 90%;
}
.linkss{
  width: 90%;
}
.btnnn{
  width: 40%;
}
}

@media(max-width: 600px){
  .footer-org{
    width: 95%;
    display: none;
  }
  .linkss{
    width: 100%;
  }
  .btnnn{
    width: 60;
  }
  }

  @media(max-width: 400px){
    .footer-org{
      width: 95%;
      display: none;
    }
    .linkss{
      width: 100%;
    }
    .btnnn{
      width: 60;
    }
    }